#booking-section {
  width: 100%;
  display: block;
  background-color: #fff;
  padding-bottom: 40px;
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  color: #444;
}

.table {
  background-color: #6c5a5a;
  color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  vertical-align: middle;
  display: inline-block; 
}

#table-schedule {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  min-width: 400px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

#table-schedule-container {
  background-color: #fefefe;
  margin: 10% auto 10% auto;
  padding: 5%;
  border: 1px solid #888;
  width: 40%;
}

.vacant {
  margin: 5px;
  padding: 5px 35px;
  border: none;
  border-radius: 40px;
  font-size: 80%;
  font-weight: 100;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;   
  background-color: #a2cc96;
}