@import fonts
$header-font: normal 100 Existence-Light
$text-font: normal 100 Lato
$main-purple: #9f449b
$main-gray: #7f7f7f

*
	margin: 0
	padding: 0

html, body
	width: 100%
	height: 100% 

body
	//background: #282828
	background: #ffffff
	/* height: 100% */
	/* +font-weight */
	font: $text-font
	color: #676767
	overflow-x: hidden /*Отображается только область внутри элемента, остальное будет скрыто.*/
	box-sizing: border-box

a
	text-decoration: none

h1
	font-size: 400%
	margin: 0 10%

h2
	color: $main-gray
	font-size: 200%
	+font-weight

h3
	color: $main-gray
	font-size: 150%
	+font-weight

/* HOME */


#home
	background: url('../img/layer2.png') 50% 0 repeat-y fixed /* <проценты> Задает размер фоновой картинки в процентах от ширины или высоты элемента. repeat-y Фоновый рисунок повторяется только по вертикали */
	background-size: cover /* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока */
	background-position: center center /* center = center center = 50% 50% (по центру) по вертикали и горизонтали */
	display: flex
	//align-items: center
	padding: 7% 0
	justify-content: center
	/* height: 100% */
	//min-height: 550px
	position: relative
	text-align: center
	color: #ffffff
	font-size: 100%
	+font-weight
	//min-width: 480px

#home p
	margin: 20px 10%

.menu-icon
	display: flex
	justify-content: center

.menu-icon div
	display: inline-block
	vertical-align: top
	
.icon-img
	//max-width: 130px

.menu-icon-left
	width: 100%

.menu-icon-center
	width: 100%

.menu-icon-right
	width: 100%

/* @media screen and (max-width: 635px) */


@media screen and (max-width: 480px)
	#home
		min-height: 300px
		height: 200px
	.menu-icon, .menu-icon-center, .menu-icon-right, .menu-icon-left
		visibility: hidden


/* TOP BAR SECTION */

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #ffffff;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: white;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
	opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=70);
    border: 1px solid #ffffff;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #3c3c3c;
    background-color: #ffffff;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: none;
    color: #710000;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}



/* SERVICE */


.service
	background: #eeeeee
	height: 500px
	position: relative
	text-align: center
	color: $main-gray
	font-weight: 200

.ser-item 
	width: 20%
	display: inline-block
	text-align: center
	margin: 5px 10px
	vertical-align: top

.ser-item img
	margin: 70px 0 30px 0 
	width: 90%
	max-width: 180px
	cursor: pointer


/* CALCULATOR */


#calculator
	background: #ffffff
	height: 400px
	//width: 100%
	position: relative
	padding: 50px


.calculator-wrapper input[type=button]
	background-color: $main-purple
	width: 50px
	height: 50px
	border: none
	border-radius: 3px
	color: white
	padding: 5px 5px
	text-decoration: none
	margin: 2px 0
	cursor: pointer

.calculator-wrapper input[type=button]:hover
	background-color: #b562b1

#result
	width: 212px
	height: 40px
	font-size: 200%
	font-weight: 100
	margin: 4px 0


/* TIC-TAC-TOE */


#tic-tac-toe
	background: #ffffff
	height: 250px
	width: 100%
	position: relative
	padding: 100px

.tic-tac-row
	float: none
	clear: both

.tic-tac-cell
	border: 1px solid #000
	width: 100px
	height: 100px
	float: left
	font-size: 36px
	text-align: center
	line-height: 100px


/* ABOUT SECTION */

/* QUOTE */
.quote
	width: 100%
	background: url('../img/quote.png')
	background-position: center center 
	height: 300px

/* GET IN TOUCH */
footer

/* Form */

form input[type=text], select
	width: 100%
	padding: 12px 20px
	margin: 8px 0
	display: inline-block
	border: 2px solid #ccc
	border-radius: 1px
	box-sizing: border-box
	outline: none

form input::placeholder, textarea::placeholder
	font-size: 130%
	font-weight: 100

form textarea
	width: 100%
	padding: 12px 20px
	height: 200px
	margin: 8px 0
	display: inline-block
	border: 2px solid #ccc
	border-radius: 1px
	box-sizing: border-box
	outline: none
	resize: vertical

form input[type=text]:focus, textarea:focus
	background-color: #eeeeee

/* Style for section */
	
.section-wrapper
	display: flex
	justify-content: center
	//width: 100%
	max-width: 960px
	position: relative
	height: 600px

.section-header
	width: 100%
	position: absolute
	z-index: 1
	display: flex
	justify-content: center

.section-left-column
	width: 42.5%
	position: absolute
	top: 150px
	left: 5%
	height: 100px
	text-align: left

.section-right-column
	width: 42.5%
	position: absolute
	top: 150px
	left: 52.5%
	height: 100px
	text-align: left
	font-family: $text-font


/* Style for section titles */


.section-title
	position: relative
	width: 200px
	height: 30px
	margin: 20px
	text-align: center
	padding: 10px
	color: $main-gray
	font-size: 200%
	+font-weight

.section-title-coners:after
	display: block
	content: ""
	width: 20px
	height: 20px
	position: absolute
	top: -10px
	right: -10px
	border-top: 1px solid $main-purple
	border-right: 1px solid $main-purple

.section-title-coners:before
	display: block
	content: ""
	width: 20px
	height: 20px
	position: absolute
	bottom: -10px
	left: -10px
	border-bottom: 1px solid $main-purple
	border-left: 1px solid $main-purple