.icon-servese:hover {
    animation: jump 0.8s ease-in 0s 1 normal;
}

.ser-item img:hover {
    animation: jump 1s ease-in 0s 1 normal;
}

@keyframes jump {
    0% {transform: translateY(0);}
    20% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    50% {transform: translateY(0);}
    60% {transform: translateY(-15px);}
    80% {transform: translateY(0);}
    100% {transform: translateY(0);}
}

.menu-icon-left {
    animation: jump-icon-lr 1s ease-in 0s 1 normal;
}

.menu-icon-center {
    animation: jump-icon-cen 0.8s ease-in 0s 1 normal;
}

.menu-icon-right {
    animation: jump-icon-lr 1s ease-in 0s 1 normal;
}

@keyframes jump-icon-cen {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes jump-icon-lr {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    40% {
        transform: translateY(100px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}