@charset "UTF-8";
@font-face {
  font-family: "Existence-Light";
  src: url("../fonts/Existence-Light.ttf") format("truetype"); }
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato/LatoRegular/LatoLight.ttf") format("truetype"); }
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
  font-family: Lato;
  font-weight: 100;
  font-style: normal;
  color: #676767; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

h1 {
  font-size: 400%;
  font-family: Existence-Light;
  font-weight: 100;
  font-style: normal;
  padding: 5% 0 2%; }

h2 {
  font-size: 200%;
  padding: 1% 0 1%;
  font-family: Existence-Light;
  font-weight: 100;
  font-style: normal; }

h3 {
  font-size: 110%;
  padding: 1% 0 1%;
  font-family: Existence-Light;
  font-weight: 100;
  font-style: normal; }

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 100%;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #9f449b;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #6b2e68; }

.button:hover {
  background-color: #873984; }

.button:active {
  background-color: #873984;
  box-shadow: 0 2px #6b2e68; }

/* HEADER */
header {
  background: url("../img/layer2.png") 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
  min-height: 800px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff; }

#home-wrapper {
  width: 960px;
  margin: 20px; }

.menu-icon-second-row {
  display: flex;
  text-align: center;
  justify-content: center; }

.menu-icon-left {
  margin: 0 10% 0 0; }

.menu-icon-right {
  margin: 0 0 0 10%; }

.icon-img {
  display: inline-block; }

<<<<<<< HEAD
.mob-menu-icon-center, .mob-menu-icon-left, .mob-menu-icon-right {
  display: none; }

=======
>>>>>>> 042dc25181ad6a5fee4a0a8fd6732ebdad11f893
#menu-icon-services {
  background: url("../img/services.png");
  width: 171px;
  height: 185px; }

#menu-icon-services:hover {
  background: url("../img/services_on.png"); }

#menu-icon-portfolio {
  background: url("../img/portfolio.png");
  width: 171px;
  height: 185px; }

#menu-icon-portfolio:hover {
  background: url("../img/portfolio_on.png"); }

#menu-icon-about {
  background: url("../img/about.png");
  width: 171px;
  height: 185px; }

#menu-icon-about:hover {
  background: url("../img/about_on.png"); }

#menu-icon-team {
  background: url("../img/team.png");
  width: 171px;
  height: 185px; }

#menu-icon-team:hover {
  background: url("../img/team_on.png"); }

#menu-icon-blog {
  background: url("../img/blog.png");
  width: 171px;
  height: 185px; }

#menu-icon-blog:hover {
  background: url("../img/blog_on.png"); }

#menu-icon-сontact {
  background: url("../img/сontact.png");
  width: 171px;
  height: 185px; }

#menu-icon-сontact:hover {
  background: url("../img/сontact_on.png"); }

.scroller {
  display: inline-block;
  background: url("../img/scroller.png");
  width: 90px;
  height: 98px; }

.scroller:hover {
  background: url("../img/scroller_on.png"); }

@media all and (max-width: 960px) {
  header {
    height: 100%;
    min-height: 1000px; }

  .menu-icon-left {
    margin: 0 0 0 0;
    text-align: right; }

  .menu-icon-right {
    margin: 0 0 0 0;
    text-align: left; } }
@media all and (max-width: 600px) {
  header {
    height: 100%;
    min-height: 1000px; }

  h1 {
    font-size: 300%; }

  h2 {
    font-size: 200%; }

  h3 {
    font-size: 100%; }

  .menu-icon-left {
    margin: 0 0 0 0;
    text-align: right; }

  .menu-icon-right {
    margin: 0 0 0 0;
    text-align: left; } }
@media all and (max-width: 479px) {
  header {
    height: 100%;
    min-height: 500px; }

  h1 {
    font-size: 200%; }

  h2 {
    font-size: 150%; }

  h3 {
    font-size: 100%; }

  .menu-icon-second-row, .menu-icon-center {
    display: none; }

  .scroller {
    margin: 20% 0; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  header {
    height: 100%;
<<<<<<< HEAD
    min-height: 1600px;
=======
    min-height: 300px;
>>>>>>> 042dc25181ad6a5fee4a0a8fd6732ebdad11f893
    background: url("../img/layer2.png");
    background-size: auto 100%;
    background-position: center center; }

  h1 {
<<<<<<< HEAD
    font-size: 450%;
    padding: 6% 0 2%; }

  h2 {
    font-size: 300%;
    padding: 3% 0 3%; }

  h3 {
    font-size: 250%;
    padding: 2% 0 2%; }

  .mob-menu-icon-center, .mob-menu-icon-left, .mob-menu-icon-right {
    display: block; }

  #menu-icon-services, #menu-icon-portfolio, #menu-icon-about, #menu-icon-team, #menu-icon-blog, #menu-icon-сontact {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
    width: 230px;
    height: 230px; }
=======
    font-size: 500%;
    padding: 15% 0 6%; }

  h2 {
    font-size: 400%;
    padding: 4% 0 4%; }

  h3 {
    font-size: 300%;
    padding: 3% 0 3%; }
>>>>>>> 042dc25181ad6a5fee4a0a8fd6732ebdad11f893

  .menu-icon-second-row, .menu-icon-center {
    display: none; }

  .scroller {
<<<<<<< HEAD
    margin: 5% 0; } }
=======
    margin: 20% 0; } }
>>>>>>> 042dc25181ad6a5fee4a0a8fd6732ebdad11f893
/* NAVIGATION BAR */
nav {
  width: 100%;
  height: 100px;
  background: #ffffff;
  z-index: 99; }

#menu-wrapper {
  max-width: 960px;
  position: relative;
  margin: auto; }

#logo {
  position: absolute;
  margin: 2% 0; }

#menu-list {
  position: absolute; }

#menu div div {
  display: inline-block;
  float: right; }

.fixing {
  position: fixed;
  top: 0;
  background: #ffffff;
  height: 70px; }

#menu li {
  float: left;
  margin: 5% 5px;
  list-style: none; }

#menu div div ul li a {
  display: block;
  font-size: 120%;
  font-weight: 100;
  color: #7f7f7f;
  text-transform: uppercase; }

#menu div div ul li a:hover {
  color: #9f449b; }

#logo a {
  font-size: 200%;
  font-weight: 100;
  display: inline-block; }

#menu::after {
  content: "";
  display: table-cell;
  clear: both;
  vertical-align: bottom; }

#short-menu, #short-menu-wrapper {
  display: none; }

@media all and (max-width: 960px) {
  #menu-list ul li a {
    font-size: 100%; }

  #menu-list {
    text-align: left;
    left: 3%;
    margin: 4.5% 0 0 0; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  #menu div div ul li a {
    display: none; }

  #logo a {
    font-size: 300%; }

  #menu-burger {
    display: block; }

  nav {
    display: none; } }
/* Style for section titles */
.section-title {
  position: relative;
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 5px 0 20px 0;
  color: #7f7f7f;
  font-family: Existence-Light;
  font-weight: 100;
  font-style: normal; }

.section-title-coners:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-top: 1px solid #9f449b;
  border-right: 1px solid #9f449b; }

.section-title-coners:before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: -10px;
  border-bottom: 1px solid #9f449b;
  border-left: 1px solid #9f449b; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .section-title {
    width: 500px;
    height: 80px;
    margin: 20px; } }
/* Style for section */
.section-wrapper {
  width: 100%;
  max-width: 960px;
  position: relative;
  margin: 30px auto; }

.section-header {
  width: 100%;
  padding: 20px 0;
  max-width: 960px;
  z-index: 1;
  display: flex;
  justify-content: center; }

.section-left-column {
  width: 42.5%;
  position: absolute;
  top: 150px;
  height: 100px;
  text-align: left; }

.section-right-column {
  width: 42.5%;
  position: absolute;
  top: 150px;
  left: 52.5%;
  height: 100px;
  text-align: left;
  font-family: Lato; }

/* SERVESE SECTION */
.service {
  background: #eeeeee;
  position: relative;
  text-align: center;
  color: #7f7f7f;
  font-weight: 200;
  padding: 3% 1%; }

.icon-servese {
  height: 200px;
  width: 200px;
  margin: auto; }

.icon-servese-heart {
  background: url("../img/heart.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-heart:active {
  background: url("../img/heart_active.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-diamond {
  background: url("../img/diamond.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-diamond:active {
  background: url("../img/diamond_active.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-cup {
  background: url("../img/cup.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-cup:active {
  background: url("../img/cup_active.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-phone {
  background: url("../img/phone.png");
  background-repeat: no-repeat;
  background-position: center center; }

.icon-servese-phone:active {
  background: url("../img/phone_active.png");
  background-repeat: no-repeat;
  background-position: center center; }

.ser-item {
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  vertical-align: top; }

.ser-item img {
  margin: 30px 5px 0px 5px;
  cursor: pointer; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .ser-item {
    width: 80%;
    display: block;
    margin: auto;
    height: 100%; }

  .ser-item h3 {
    padding: 0 0 0; }

  .ser-item p {
    font-size: 250%;
    padding: 20px 0 60px 0; } }
/* ABOUT US */
.about-us {
  display: inline-block;
  margin: 100px 0px 120px;
  vertical-align: bottom; }

.about-us-img {
  background-image: url("../img/aboutus.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 490px;
  height: 300px; }

.about-us-text {
  width: 420px;
  line-height: 1.7; }

.about-us-text div {
  margin: 50px 0 0; }

/* QUOTE */
.quote {
  width: 100%;
  background: url("../img/quote.png");
  background-position: center center;
  height: 300px;
  position: relative;
  display: flex;
  padding: 2% 0;
  justify-content: center;
  color: #ffffff; }

.quote-icon {
  display: inline-block;
  position: absolute; }

.quote h2 {
  position: absolute;
  top: 70%;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  text-align: center; }

/* NUMBER ANIMATION */
.number-animation {
  background: #eeeeee;
  position: relative;
  text-align: center;
  font-weight: 200; }

.number-animation div {
  display: inline-block;
  margin: 30px 20px 60px; }

.number-animation div div {
  margin: 0px 0px 0px; }

.number {
  font-size: 450%; }

/* */
/* PORTFOLIO PIC */
#spinner {
  width: 280px;
  height: 280px;
  text-align: center; }

#spinner > div {
  margin: 48% 0 0 0;
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

#spinner .bounce1 {
  animation-delay: -0.32s; }

#spinner .bounce2 {
  animation-delay: -0.16s; }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0); }
  40% {
    transform: scale(1); } }
#portfolio {
  margin: -40px auto auto auto;
  padding: 60px 0 60px 0;
  border-top-width: 90px;
  background-color: #fff;
  text-align: center; }

#portfolio-buttons {
  background-color: #fff;
  position: relative;
  text-align: center;
  padding-bottom: 1em; }

#portfolio-buttons button {
  font-size: 15px;
  font-weight: 400;
  color: #222;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #222;
  border-radius: 3px;
  padding: 10px 30px;
  margin: 40px 5px 0px 5px; }

#portfolio-buttons button:hover, #portfolio-buttons button:focus, #portfolio-buttons button.active {
  border: 1px solid #9f449b;
  color: #fff;
  background-color: #9f449b; }

#portfolio-buttons button:focus {
  outline: thin dotted;
  outline-offset: -1px; }

#portfolio-img {
  position: relative;
  text-align: center;
  color: #7f7f7f;
  font-weight: 200;
  padding: 3% 1%; }

#portfolio-img div a img {
  overflow: auto;
  display: block;
  width: 280px;
  height: 280px; }

#portfolio-img > div {
  width: 280px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  vertical-align: top; }

#portfolio-img #button {
  text-align: center;
  position: relative; }

#portfolio-img div a:hover:after, #portfolio-img div a:focus:after {
  content: "";
  position: absolute;
  margin: -280px 0 0 0;
  display: block;
  height: 280px;
  width: 280px;
  background: rgba(0, 0, 0, 0.1) url("../img/plus.png") no-repeat center center; }

/* FOOTER */
footer {
  height: 700px; }

/* Form */
form input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  outline: none; }

form input::placeholder, textarea::placeholder {
  font-size: 130%;
  font-weight: 100; }

form textarea {
  width: 99.9%;
  padding: 12px 20px;
  height: 200px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  outline: none;
  resize: vertical; }

form input[type=text]:focus, textarea:focus {
  background-color: #eeeeee; }

.circle-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: #7f7f7f;
  border-style: solid;
  border-width: thin;
  font-size: 30px;
  color: #7f7f7f;
  line-height: 60px;
  text-align: center;
  background: #fff;
  margin: 30px 10px; }

.section-right-column div {
  display: inline-block; }

.shape {
  background: url("../img/shape.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 150px; }

.slider {
  background: #eeeeee;
  padding: 0 0 100px 0;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center; }

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden; }
  .slider__nav:checked {
    animation: check 0.4s linear forwards; }
    .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
      left: 0%; }
    .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
      left: -100%; }
    .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
      left: -200%; }
    .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
      left: -300%; }

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 60%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap; }

.slider__contents {
  height: 100%;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.slider__caption {
  font-weight: 400;
  margin: 5px;
  text-transform: uppercase; }

.slider__txt {
  color: #999;
  margin: 10px;
  max-width: 400px; }

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2); }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0); } }

/*# sourceMappingURL=style.css.map */
